<header class="navbar">
  <div class="logo">
    <h2>Hospital Salud+</h2>
    <span>Tu bienestar primero</span>
  </div>

  <nav>
    <a *ngIf="!estaEnDashboard" routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">Panel Inicio</a>
    
    <a *ngIf="estaEnDashboard && esMedico" routerLink="/inicio-medico" routerLinkActive="activo">Consulta Médica</a>

    <a *ngIf="estaEnDashboard && !esMedico" routerLink="/cita-medica" routerLinkActive="activo">Agendar Cita</a>
    <a *ngIf="estaEnDashboard && !esMedico" (click)="activarHistorialCitas()" style="cursor: pointer;" class="nav-link-btn">Ver Mis Citas</a>

    <ng-content select="[extra-links]"></ng-content>
    
    <a *ngIf="!estaEnDashboard" routerLink="/seleccionarUsuario" routerLinkActive="activo" class="login-link">Iniciar sesión</a>
    <a *ngIf="estaEnDashboard" (click)="abrirModal()" class="login-link" style="cursor: pointer;">Cerrar sesión</a>
  </nav>
</header>

<div *ngIf="mostrarModal" class="modal-logout-overlay">
  <div class="modal-logout-card">
    <h3>¿Desea cerrar sesión?</h3>
    <div class="modal-logout-buttons">
      <button (click)="confirmarSalida()" class="btn-logout-si">Sí, salir</button>
      <button (click)="cerrarModal()" class="btn-logout-no">No, quedarme</button>
    </div>
  </div>
</div>